<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p class="white">Logout</p>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h1 class="black">Welcome <span class="member-name"></span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h2 class="black">Seven Days Diet-Schedule</h2>
      <br>
      <form action="/members" method="POST"></form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 1</h3>

      {{!-- <div><row><button type="button" id="modal-btn-1" class="btn btn-primary d-none" data-toggle="modal" data-target="#staticBackdrop1"><span id="modal-btn-1-title"></span></button></row></div>
         --}}

      {{!-- <div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}


      <div class="dropdown">
  <button class="btn btn-info dropdown-toggle white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"  href="#"><li data-day="Day1">Breakfast: Oats</li></a>
    <a class="dropdown-item" href="#"><li>AM Snack: Fruit</li></a>
    <a class="dropdown-item" href="#"><li>Lunch: Sandwich</li></a>
    <a class="dropdown-item" href="#"><li>PM Snack: Nuts</li></a>
    <a class="dropdown-item" href="#"><li>Dinner: Steak</li></a>
  </div>
</div>
      <li>Breakfast:  <span class="diet-breakfast"></span></li>
      <li>AM Snack:  <span class="diet-amsnack"></span></li>
      <li>Lunch:  <span class="diet-lunch"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack"></span></li>
      <li>Dinner:  <span class="diet-dinner"></span></li>
      </form>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 2</h3>
      <li>Breakfast:  <span class="diet-breakfast2"></span></li>
      <li>AM Snack:  <span class="diet-amsnack2"></span></li>
      <li>Lunch:  <span class="diet-lunch2"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack2"></span></li>
      <li>Dinner:  <span class="diet-dinner2"></span></li>
      </form>
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 3</h3>
      <li>Breakfast:  <span class="diet-breakfast3"></span></li>
      <li>AM Snack:  <span class="diet-amsnack3"></span></li>
      <li>Lunch:  <span class="diet-lunch3"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack3"></span></li>
      <li>Dinner:  <span class="diet-dinner3"></span></li>
      </form>
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 4</h3>
      <li>Breakfast:  <span class="diet-breakfast4"></span></li>
      <li>AM Snack:  <span class="diet-amsnack4"></span></li>
      <li>Lunch:  <span class="diet-lunch4"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack4"></span></li>
      <li>Dinner:  <span class="diet-dinner4"></span></li>
      </form>  
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 5</h3>
      <li>Breakfast:  <span class="diet-breakfast5"></span></li>
      <li>AM Snack:  <span class="diet-amsnack5"></span></li>
      <li>Lunch:  <span class="diet-lunch5"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack5"></span></li>
      <li>Dinner:  <span class="diet-dinner5"></span></li>
      </form> 
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 6</h3>
      <li>Breakfast:  <span class="diet-breakfast6"></span></li>
      <li>AM Snack:  <span class="diet-amsnack6"></span></li>
      <li>Lunch:  <span class="diet-lunch6"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack6"></span></li>
      <li>Dinner:  <span class="diet-dinner6"></span></li>
      </form>
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-6 black">
      <h3>Day 7</h3>
      <li>Breakfast:  <span class="diet-breakfast7"></span></li>
      <li>AM Snack:  <span class="diet-amsnack7"></span></li>
      <li>Lunch:  <span class="diet-lunch7"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack7"></span></li>
      <li>Dinner:  <span class="diet-dinner7"></span></li>
      </form>  
      <br><br><br>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
