<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-5">

      <div class="col-md-5 col-md-offset-6">

        <h2>Welcome <span class="member-name"></span></h2>
        <h2>Seven Days Diet-Schedule</h2>
        
       <br>
       <form action="/members" method="POST">
</form>
      </div>
   <div class="col-lg-4">
     <h3> Day 1</h3>
<li>Breakfast:  <span class="diet-breakfast"></span></li>
<li>Lunch:  <span class="diet-lunch"></span></li>
<li>Dinner:  <span class="diet-dinner"></span></li>

        </form>
           
     <br><br><br>
         <h3> Day 2</h3>
<li>Breakfast:  <span class="diet-breakfast2"></span></li>
<li>Lunch:  <span class="diet-lunch2"></span></li>
<li>Dinner:  <span class="diet-dinner2"></span></li>

        </form>
           
     <br><br><br>
    </div>

    <h3> Day 3</h3>
<li>Breakfast:  <span class="diet-breakfast3"></span></li>
<li>Lunch:  <span class="diet-lunch3"></span></li>
<li>Dinner:  <span class="diet-dinner3"></span></li>

        </form>
           
     <br><br><br>
    

    <h3> Day 4</h3>
<li>Breakfast:  <span class="diet-breakfast4"></span></li>
<li>Lunch:  <span class="diet-lunch4"></span></li>
<li>Dinner:  <span class="diet-dinner4"></span></li>

        </form>
           
     <br><br><br>
   

    <h3> Day 5</h3>
<li>Breakfast:  <span class="diet-breakfast5"></span></li>
<li>Lunch:  <span class="diet-lunch5"></span></li>
<li>Dinner:  <span class="diet-dinner5"></span></li>

        </form>
           
     <br><br><br>
  

    <h3> Day 6</h3>
<li>Breakfast:  <span class="diet-breakfast6"></span></li>
<li>Lunch:  <span class="diet-lunch6"></span></li>
<li>Dinner:  <span class="diet-dinner6"></span></li>

        </form>
           
     <br><br><br>
  

    <h3> Day 7</h3>
<li>Breakfast:  <span class="diet-breakfast7"></span></li>
<li>Lunch:  <span class="diet-lunch7"></span></li>
<li>Dinner:  <span class="diet-dinner7"></span></li>

        </form>
           
     <br><br><br>
    </div>

    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>
