<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p class="white">Logout</p>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h1 class="black">Welcome <span class="member-name"></span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h2 class="black">Seven Days Diet-Schedule</h2>
      <br>
      <form action="/members" method="POST"></form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 1</h3>
      <li>Breakfast:  <span class="diet-breakfast"></span></li>
      <li>AM Snack:  <span class="diet-amsnack"></span></li>
      <li>Lunch:  <span class="diet-lunch"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack"></span></li>
      <li>Dinner:  <span class="diet-dinner"></span></li>
      </form>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 2</h3>
      <li>Breakfast:  <span class="diet-breakfast2"></span></li>
      <li>AM Snack:  <span class="diet-amsnack2"></span></li>
      <li>Lunch:  <span class="diet-lunch2"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack2"></span></li>
      <li>Dinner:  <span class="diet-dinner2"></span></li>
      </form>
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 3</h3>
      <li>Breakfast:  <span class="diet-breakfast3"></span></li>
      <li>AM Snack:  <span class="diet-amsnack3"></span></li>
      <li>Lunch:  <span class="diet-lunch3"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack3"></span></li>
      <li>Dinner:  <span class="diet-dinner3"></span></li>
      </form>
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 4</h3>
      <li>Breakfast:  <span class="diet-breakfast4"></span></li>
      <li>AM Snack:  <span class="diet-amsnack4"></span></li>
      <li>Lunch:  <span class="diet-lunch4"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack4"></span></li>
      <li>Dinner:  <span class="diet-dinner4"></span></li>
      </form>  
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 5</h3>
      <li>Breakfast:  <span class="diet-breakfast5"></span></li>
      <li>AM Snack:  <span class="diet-amsnack5"></span></li>
      <li>Lunch:  <span class="diet-lunch5"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack5"></span></li>
      <li>Dinner:  <span class="diet-dinner5"></span></li>
      </form> 
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 6</h3>
      <li>Breakfast:  <span class="diet-breakfast6"></span></li>
      <li>AM Snack:  <span class="diet-amsnack6"></span></li>
      <li>Lunch:  <span class="diet-lunch6"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack6"></span></li>
      <li>Dinner:  <span class="diet-dinner6"></span></li>
      </form>
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-6 black">
      <h3>Day 7</h3>
      <li>Breakfast:  <span class="diet-breakfast7"></span></li>
      <li>AM Snack:  <span class="diet-amsnack7"></span></li>
      <li>Lunch:  <span class="diet-lunch7"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack7"></span></li>
      <li>Dinner:  <span class="diet-dinner7"></span></li>
      </form>  
      <br><br><br>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
