<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p class="white">Logout</p>
      </a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h1 class="black">Welcome <span class="member-name"></span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-7 center">
      <h2 class="black">Seven Days Diet-Schedule</h2>
      <br>
      <form action="/members" method="POST"></form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 1 </h3>
      <li>Breakfast:  <span class="diet-breakfast"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Edit
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Bran Cereal with Skim Milk & Berries </li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Greek Yogurt with Blueberries, Almond & Honey </li></a>
        </ul>
      </div>  
      <li>AM Snack:  <span class="diet-amsnack"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Edit
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Raspberries</li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Orange</li></a>
        </ul>
      </div>  
      <li>Lunch:  <span class="diet-lunch"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Edit
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Spinach & Strawberry Salad</li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Tuna, White Bean & Dill Salad </li></a>
        </ul>
      </div>
      <li>PM Snack:  <span class="diet-pmsnack"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Edit
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Apple</li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Blueberries</li></a>
        </ul>
      </div>  
      <li>Dinner:  <span class="diet-dinner"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Edit
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Charred Shrimp & Pesto Buddha Bowls</li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Curried Sweet Potato & Peanut Soup</li></a>
        </ul>
      </div>
    </div>
       
    
    <div class="col-xs-3 black">
      <h3>Day 2</h3>
      <li>Breakfast:  <span class="diet-breakfast2"></span></li>
      <li>AM Snack:  <span class="diet-amsnack2"></span></li>
      <li>Lunch:  <span class="diet-lunch2"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack2"></span></li>
      <li>Dinner:  <span class="diet-dinner2"></span></li>
      <div class="dropdown">
        <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Change Meals
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#"><li data-day="Day1">Breakfast: Greek Yogurt with Blueberries, Almonds & Honey </li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Lunch: Spinach & Strawberry Salad</li></a>
          <a class="dropdown-item" href="#"><li data-day="Day1">Dinner: Charred Shrimp & Pesto Buddha Bowls</li></a>
        </ul>
      </div>
      
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 3</h3>
      <li>Breakfast:  <span class="diet-breakfast3"></span></li>
      <li>AM Snack:  <span class="diet-amsnack3"></span></li>
      <li>Lunch:  <span class="diet-lunch3"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack3"></span></li>
      <li>Dinner:  <span class="diet-dinner3"></span></li>
           <div class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Edit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<a class="dropdown-item" href="#"><li data-day="Day3">Chicken Shrimp</li></a>
 <a class="dropdown-item" href="#"><li data-day="Day3">Baked Salmon</li></a>
  <a class="dropdown-item" href="#"><li data-day="Day3">Steamed Beans</li></a>
   
  </ul>
</div>
     
     
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 4</h3>
      <li>Breakfast:  <span class="diet-breakfast4"></span></li>
      <li>AM Snack:  <span class="diet-amsnack4"></span></li>
           <div class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Edit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<a class="dropdown-item" href="#"><li data-day="Day4">Potato soup</li></a>
 <a class="dropdown-item" href="#"><li data-day="Day4">Broccoli</li></a>
  <a class="dropdown-item" href="#"><li data-day="Day4">Steamed Potato</li></a>
   
  </ul>
</div>

      <li>Lunch:  <span class="diet-lunch4"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack4"></span></li>
      <li>Dinner:  <span class="diet-dinner4"></span></li>
    
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-3 black">
      <h3>Day 5</h3>
      <li>Breakfast:  <span class="diet-breakfast5"></span></li>
      <li>AM Snack:  <span class="diet-amsnack5"></span></li>
      <li>Lunch:  <span class="diet-lunch5"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack5"></span></li>
           <div class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Edit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<a class="dropdown-item" href="#"><li data-day="Day5">Fruits</li></a>
 <a class="dropdown-item" href="#"><li data-day="Day5">Toast</li></a>
  <a class="dropdown-item" href="#"><li data-day="Day5">Crackers</li></a>
   
  </ul>
</div>
      <li>Dinner:  <span class="diet-dinner5"></span></li>
      
      <br><br><br>
    </div>
    <div class="col-xs-3 black">
      <h3>Day 6</h3>
      <li>Breakfast:  <span class="diet-breakfast6"></span></li>
      <li>AM Snack:  <span class="diet-amsnack6"></span></li>
      <li>Lunch:  <span class="diet-lunch6"></span></li>
           <div class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Edit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<a class="dropdown-item" href="#"><li data-day="Day6">Chicken Grilled</li></a>
 <a class="dropdown-item" href="#"><li data-day="Day6">Steamed Salmon</li></a>
  <a class="dropdown-item" href="#"><li data-day="Day6">Steamed Potato</li></a>
   
  </ul>
</div>
      <li>PM Snack:  <span class="diet-pmsnack6"></span></li>
      <li>Dinner:  <span class="diet-dinner6"></span></li>
      
      <br><br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5 col-xs-offset-6 black">
      <h3>Day 7</h3>
      <li>Breakfast:  <span class="diet-breakfast7"></span></li>
      <li>AM Snack:  <span class="diet-amsnack7"></span></li>
      <li>Lunch:  <span class="diet-lunch7"></span></li>
      <li>PM Snack:  <span class="diet-pmsnack7"></span></li>
      <li>Dinner:  <span class="diet-dinner7"></span></li>
           <div class="dropdown">
  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Edit
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
<a class="dropdown-item" href="#"><li data-day="Day7">Chicken Grilled</li></a>
 <a class="dropdown-item" href="#"><li data-day="Day7">Steamed Salmon</li></a>
  <a class="dropdown-item" href="#"><li data-day="Day7">Steamed Potato</li></a>
   
  </ul>
</div>
      
      <br><br><br>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
