.navbar{
  background-color: rgb(36, 36, 36);
  color: white;
}


body{
  background-image: url("../images/backgroundFood5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courgette', cursive;
}

.btn{
  margin: 5px;
  box-shadow: 2px 2px 4px #020100;
}

.white{
  color: rgb(255, 254, 254);
  text-shadow: 2px 2px 4px #080808;
}

.black{
  color: rgb(36, 36, 36);
  text-shadow: 2px 2px 4px rgb(168, 167, 167);
}

.center{
  text-align: center;
  color: rgb(255, 254, 254);
  text-shadow: 2px 2px 4px #080808;}

li{
  font-size: 20px;
}

.opacity2{
  background: rgba(95, 95, 95, 0.4);
}

.right{
  float: right;
}

a{
  font-size: 20px;
  text-shadow: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

.container{
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  li{
    font-size: 15px;
  }
}