form.signup,
form.login {
  margin-top: 50px;
}

.navbar{
  background-color: rgb(36, 36, 36);
  color: white;
}


body{
  background-image: url("../images/backgroundFood4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Courgette', cursive;
}

.btn{
  margin: 5px;
  box-shadow: 2px 2px 4px #020100;
}

.white{
  color: rgb(255, 254, 254);
  text-shadow: 2px 2px 4px #080808;
}

.black{
  color: rgb(36, 36, 36);
  text-shadow: 2px 2px 4px rgb(168, 167, 167);
}

.center{
  text-align: center;
}

li{
  font-size: 15px;
}

.opacity2{
  background: rgba(228, 227, 227, 0.4);
}